<form [formGroup]="form">
  <div class="form-field">
    <label>主旨</label>
    <input type="text" formControlName="subject" />
  </div>
  <div class="form-field">
    <label>等級</label>
    <select formControlName="level">
      <option value=""></option>
      <option value="XS">XS</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
    </select>
  </div>
  <div class="tags-field">
    <button type="button" (click)="onAddTag()">標籤新增</button>
    <!-- <div formArrayName="tags" *ngFor="let control of tags.controls; let index = index">
      <ng-container [formGroupName]="index">
        <input type="text" formControlName="tag" />
      </ng-container>
    </div> -->
    <div formArrayName="tags" *ngFor="let control of tags.controls; let index = index">
      <input type="text" [formControl]="control" />
      <button type="button" (click)="onDeleteTag(index)">刪除</button>
    </div>
  </div>
  <div class="button">
    <button type="button" (click)="onSave()">儲存</button>
  </div>
</form>
<pre>{{ form.value | json }}</pre>
