<div class="card">
  <div class="content">
    <span>
      {{ subject | slice: 0:10 }}<span *ngIf="subject.length > 10">... </span>
      <button type="button" [disabled]="state === TaskState.Finish">編輯</button>
    </span>
    <!-- 單個樣式繫結 -->
    <!-- <span [style.color]="getStateColor()">{{ getStateDesc() }}</span> -->
    <!-- 多個樣式繫結 -->
    <!-- <span [style]="getStateStyle()">{{ getStateDesc() }}</span> -->
    <!-- 單個樣式類別繫結 -->
    <!-- <span [class.doing]="state === TaskState.Doing" [class.finish]="state === TaskState.Finish">
      {{ stateDesc }}
    </span> -->
    <!-- 多個樣式類別繫結 -->
    <!-- <span [class]="{ doing: state === TaskState.Doing, finish: state === TaskState.Finish }">
      {{ stateDesc }}
    </span> -->
    <!-- ngClass -->
    <!-- <span [ngClass]="stateClass">{{ stateDesc }}</span> -->
    <!-- 自訂屬性型指令 -->
    <span [appTaskStateColor]="state">{{ stateDesc }}</span>
  </div>
  <div class="tags">
    <span class="tag" *ngFor="let tag of tags | slice: 0:2">{{ tag | lowercase }}</span>
    <span *ngIf="tags.length > 2">(還有 {{ tags.length - 2 }} 個)</span>
  </div>
  <div class="button">
    <span>
      <button type="button" (click)="onSetTaskState(TaskState.None)">未完成</button>
      <button type="button" (click)="onSetTaskState(TaskState.Doing)">進行中</button>
      <button type="button" (click)="onSetTaskState(TaskState.Finish)">已完成</button>
    </span>
    <span [ngSwitch]="state">
      <ng-container *ngSwitchCase="TaskState.Doing">預計完成日期：{{ expectDate }}</ng-container>
      <ng-container *ngSwitchCase="TaskState.Finish">實際完成日期：{{ finishedDate | date: 'short' }}</ng-container>
      <ng-container *ngSwitchDefault>預估等級：{{ level }}</ng-container>
    </span>
  </div>
</div>
