div.data-empty {
  margin: 5px;
  font-size: 14pt;
  line-height: 2em;
  text-align: center;
  color: #444;
  border: solid 1px #ccc;
}

div.di {
  display: flex;
  padding: 0px 15px 0px 10px;
  justify-content: space-between;
}

.search {
  padding: 10px;
}

.search div {
  display: flex;
  justify-content: space-between;
}

.search div.input {
  margin-right: 10px;
  flex-grow: 1;
  display: flex;
}

.search div.input input {
  flex-grow: 1;
}

.search div.button * {
  margin-right: 4px;
}

.search div.input input.ng-touched.ng-invalid {
  border-color: red;
  border-width: 1px;
}

ul {
  margin: 0;
  padding-left: 2em;
  font-size: 10pt;
  color: red;
}

div.toolbar {
  margin: 10px;
}
