<!-- <div class="di">
  <strong>TaskListComponent</strong>
  <button type="button" (click)="counterService.add()">Add {{ counterService.count }}</button>
</div> -->

<form class="search" #form="ngForm" (submit)="onSearch(form)">
  <div>
    <div class="input">
      <input type="text" name="subject" #subject="ngModel" ngModel placeholder="主旨" />
      <select name="status" #status="ngModel" ngModel>
        <option value="">事項狀態</option>
        <option value="0">未完成</option>
        <option value="1">進行中</option>
        <option value="2">已完成</option>
      </select>
    </div>
    <div class="button">
      <span>{{ form.value | json }}</span>
      <button type="submit">查詢</button>
    </div>
  </div>
</form>

<ng-container *ngIf="tasks$ | async as tasks; else dataEmpty">
  <app-task
    *ngFor="let task of tasks; let odd = odd"
    [class.odd]="odd"
    [subject]="task.subject"
    [(state)]="task.state"
    [level]="task.level"
    [tags]="task.tags"
    [expectDate]="task.expectDate"
    [finishedDate]="task.finishedDate"
  ></app-task>
</ng-container>

<ng-template #dataEmpty>
  <div class="data-empty">無待辦事項</div>
</ng-template>
